*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;		//font used
	text-decoration: inherit;	//used to underline
	line-height: inherit;		//used for line spacing
	color: inherit;
}
html, body{
	font-family: "Franklin Gothic", Helvetica, sans-serif;
	font-size: 18px;
	font-height: 30px;
	color: #444;
	text-shadow: 1px 1px 0px #fff
}
body{
	text-align:center;
}
h1{
	font-size: 36px;
	line-height: 50px;
	font-weight: bold;
}

h2{
	font-size: 24px;
	line-height: 25px;
}

h3{
	font-size: 42px;
	line-height: 50px;
	font-weight: bold;
}

img{
	border-radius:50%;		//allows for curved edges on images, can be px or %
	//max-height:50%;
}

section{
	max-width: 1200px;
	border-top: 2px dashed #444;
	padding:25px 0;
	margin: 0 auto;
}

.hero{
	//outline: 1px solid blue;
	border:0;
	padding: 0;
	height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: center;		//tells content where to orient itself

}


.headshot{
	//transition:transform 1s;
	//border-radius:50%;
}

.headshot:hover{
	//transform:rotate(360deg);
	//box-shadow: 0px 0px 100px 50px #fc0;
}

.blocklist > li{
	display:flex;
	justify-content: center;
	border-style:solid;
	border-width:20px;
	border-color:#fff #A1BBD2;
	//border:20px solid #A1BBD2;
	//outline:1px solid red;
}

.blocklist > li > div{
	align-self: center;
	//outline:1px solid blue;
	flex-grow:1;
}

.blocklist > li > img{
	border-radius:45%;
	margin: 0 10px;
	//width: 300px;
	//height: 300px;
}

.blocklist > li:nth-child(odd){
	flex-direction: row;
	text-align: left;
	border-left-width:0;
}

.blocklist > li:nth-child(even){
	flex-direction: row-reverse;
	text-align: right;
	border-right-width:0;
}

.prose{
	text-align:justify;
}